.bg {
    background-image: url('E:\Codesprint2\codesprint-ux-angularSPA-master\src\assets\images\back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}