
<div class="col text-center">

    <div class=" content">
        <h1 id="do">Welcome to gift Card </h1>
        <p>Who doesn’t love a gift that puts you in the driver’s seat? No surprise then that gift cards are the No. 1 requested </p>
        <p><strong>Gift:</strong> “More and more gift cards are being redeemed through mobile technology,” says Walsh. It’s “a lot easier to store your gift card” on your phone. </p>

        <p>
            Gift cards may be the best way to go because they let people choose what
            they want – and buy it when they want it.  “Gift cards are a thoughtful, flexible choice".
        </p>
        <p>
            Gift cards are a handy gift. Ever been caught by a neighbor who surprises you with a bottle of holiday wine and a plate
            of goodies? Gift cards are the perfect solution.Gift cards offer peace of mind
        </p>



    </div>
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg btn-block button" [routerLink]="['/placegiftcard']"  >  Place Order</button>
            <br>
            <br>
            <br>
            <br>
            <br>
    </div>